
.main-nav{
    background-color: $color-accent;
    display: flex;
    justify-content: space-between;
    align-items:center;

    h1 {
        padding:10px;
    }
}

.main-ul {
    display: flex;
    list-style-type: none;
    padding-right:2rem;
    
    li {
       
    }

    a {
        text-decoration: none;
        color:$color-light;
        padding:1rem;
    }

    a:hover {
        background-color:$color-tone;
    }
}



