main {
   padding: 10px;

   h2 {
      margin-top: 2rem;
   }
}


.Om-section {


   h2 {
      font-weight: 700;
      font-size: $font-large;
   }

   h3 {
      font-size: $font-small;
   }

   span a {
      text-decoration: none;
   }

   a:active {
      color: $color-btn;
   }
}


.horizontal-line {
   height: 2px;
   margin: 10px 0;
   display: block;
   background-color: $color-btn;
}

.Portfolio-section img {
   object-fit: cover;
   height: 50vh;

}




.kontakt-section {

   a {
      color: $color-accent;
   }

   a:hover {
      color: $color-btn;
   }

   a:active {
      color: $color-btn;
   }


   .kontakta-mig {
      display: flex;
      align-items: center;
      gap: 3px;
   }

   .fa-paper-plane {
      margin-top: 3px;
   }


   .social.med {
      background-color: $color-btn;
      width: 100px;
      border-radius: 50%;
   }

}

.portfolio-section {

   a {
      font-family: montserrat, sans-serif color:$color-accent;
      text-decoration: none;
   }

   a:active {
      color: $color-btn;
   }

   a:hover {
      color: $color-btn;
   }
}




/* FOR DESKTOP 
 .Portfolio-section {
    display:grid;
    grid-template-columns: repeat(12, 10%);
    
 }

 .port-code {
    grid-column: 1/-1;
 }


 .port-visual {

    grid-column:4/6 ;
 }
 */