.Om-section {


    h2 {
        font-weight: 700;
        margin:1rem;
        font-size:3rem;
    
    }

    img {
        height:auto;
        width:100%;
        
    }

    p {
        padding:10px;
    }

    h3 {
        padding:10px;
    }
}

